body {
    margin: 0 4em;
}

h1 {
    text-align: center;
}

p {
    font-size: 1.8em;
    text-align: center;
}

.texto-identado {
    text-indent: 2em;
}

.letra-especial {
    font-size: 4em;
    font-weight: 500;
    line-height: 0.05em;
}

blockquote {
    font-size: 2.5em;
    font-style: italic;
    color: rgb(143, 11, 11);
    font-weight: 900;
    font-family: 'Benne' serif;
    text-align: right;
}