p {
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-style: italic;
}

h2 {
    font-size: 50px;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

p.fuente-net {
    font-family: 'Bebas Neue', sans-serif;
}

.fuente-net2 {
    color: red;
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

span {
    font-size: 1.8em;
    color: red;
    font-weight: 900;
}


/* bebas-neue-regular - latin */

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v2-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/bebas-neue-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/bebas-neue-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/bebas-neue-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/bebas-neue-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/bebas-neue-v2-latin-regular.svg#BebasNeue') format('svg');
    /* Legacy iOS */
}